<div class="wrapper">
  <oaoheader></oaoheader>
  <!-- Page Content -->
  <div class="page-content-info">
    <div class="info-bg">
      <div class="container">
        <h1 class="page-title">{{prod_type}}</h1>
      </div>
    </div>
    <div class="page-card">
      <div class="horizontal-step-nav">
        <ul>
          <li class="completed"><span class="stepvalue">1</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
          <li class="completed"><span class="stepvalue">2</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
          <li class="active"><span class="stepvalue">3</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
          <li><span class="stepvalue">4</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
        </ul>
      </div>
      <h3 class="card-title">Online ID Check
      </h3>
      <!-- basic-info -->
      <div class="basic-info">
        <div class="bs-custom-tab">
          <ul id="myTab" class="nav nav-tabs nav-tabs-responsive  responsive" role="tablist">
            <li role="presentation" class="active">
              <a href="#Passport" id="Passport-tab" role="tab" data-toggle="tab" aria-controls="Passport" aria-expanded="true">
                <span class="text">Passport</span>
              </a>
            </li>
            <li role="presentation" class="next">
              <a href="#Medicare" role="tab" id="Medicare-tab" data-toggle="tab" aria-controls="Medicare">
                <span class="text">Medicare details</span>
              </a>
            </li>
            <li role="presentation" class="next">
              <a href="#Driver" role="tab" id="Driver-tab" data-toggle="tab" aria-controls="Driver">
                <span class="text">Driver license</span>
              </a>
            </li>
          </ul>
					<form class="form" (ngSubmit)="onidcheck(basicDetails.value)" #basicDetails="ngForm">
            <div id="myTabContent" class="tab-content responsive">
              <div role="tabpanel" class="tab-pane fade in active" id="Passport" aria-labelledby="home-tab">
                <div class="form-group ">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="fname" class="form-label">First name </label>
                        <input type="text" class="form-control txtbox" id="fname" [(ngModel)]="model.fname" name="fname" #fname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="mname" class="form-label">Middle name (Optional) </label>
                        <input type="text" class="form-control txtbox" id="mname" [(ngModel)]="model.mname" name="mname" #mname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="lname" class="form-label">Last name </label>
                        <input type="text" class="form-control txtbox" id="lname" [(ngModel)]="model.lname" name="lname" #lname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="idstate" class="form-label">Issuing country</label>
                        <select class="form-control txtbox" id="idstate" [(ngModel)]="model.idstate" name="idstate" #idstate="ngModel">
                                         <option value="0" >Select</option>
                                         <option *ngFor="let details of items" [ngValue]= "details.prop_val" [selected]="details.prop_val == model.idstate" >
                                                  {{details.prop_desc}} 
                                       </option>
                                       </select>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 has-min-height-106">
                      <div class="form-group">
                        <div [ngClass]="{'form-group has-success has-feedback':(idnum.valid && idnum.dirty) }">
                          <div [ngClass]="{'form-group has-error has-feedback':(idnum.invalid && idnum.dirty && (!model.idnum=='') )}">

                            <label for="idnum" class="form-label">Passport number </label>
														<input type="text" maxlength="8" minlength="8" class="form-control txtbox" id="idnum" [(ngModel)]="model.idnum" name="idnum"
															#idnum="ngModel" PassportValidator>
                            <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(idnum.valid && idnum.dirty )}"></span>
                            <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(idnum.invalid && idnum.dirty && (!model.idnum==''))}"></span>
                          </div>
                        </div>
                      </div>
                      <small [hidden]="idnum.valid || (idnum.pristine ) || model.idnum==null || model.idnum==''" class="text-danger">
                              {{configMsg?.passportNum}}   <!--This is a required field  -->
                                </small>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="Medicare" aria-labelledby="Medicare-tab">
                <div class="form-group ">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="fname" class="form-label">First name </label>
                        <input type="text" class="form-control txtbox" id="fname" [(ngModel)]="model.fname" name="fname" #fname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="mname" class="form-label">Middle name (Optional) </label>
                        <input type="text" class="form-control txtbox" id="mname" [(ngModel)]="model.mname" name="mname" #mname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="lname" class="form-label">Last name </label>
                        <input type="text" class="form-control txtbox" id="lname" [(ngModel)]="model.lname" name="lname" #lname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 has-min-height-106">
                      <div class="form-group">
                        <label for="color" class="form-label">Colour of card</label>
                        <select class="form-control txtbox" id="color" [(ngModel)]="model.color" name="color" #color="ngModel">
                                        <option value="0" >Select</option>
                                        <option *ngFor="let details of cardColor" [ngValue]= "details.prop_val" [selected]="details.prop_val == model.color" >
                                                  {{details.prop_desc}} 
                                       </option>
                                       </select>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4 col-sm-4 has-min-height-106">
                      <div class="form-group">
                        <div [ngClass]="{'form-group has-success has-feedback':(meidicarenum.valid && meidicarenum.dirty) }">
                          <div [ngClass]="{'form-group has-error has-feedback':(meidicarenum.invalid && meidicarenum.dirty && (!model.meidicarenum==''))}">
                            <label for="meidicarenum" class="form-label">Card number </label>
														<input type="text" maxlength="10" minlength="10" class="form-control txtbox" id="meidicarenum" [(ngModel)]="model.meidicarenum"
															name="meidicarenum" #meidicarenum="ngModel" onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));"
                              MedicareValidator>
                            <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(meidicarenum.valid && meidicarenum.dirty)}"></span>
                            <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(meidicarenum.invalid && meidicarenum.dirty && (!model.meidicarenum==''))}"></span>
                            <small [hidden]="meidicarenum.valid || (meidicarenum.pristine ) || model.meidicarenum==null || model.meidicarenum==''" class="text-danger">
                              {{configMsg?.dlNum}}   <!--This is a required field  -->
                                </small>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="col-md-4 col-sm-4 has-min-height-106">
                      <div class="form-group">
                        <div [ngClass]="{'form-group has-success has-feedback':(refnum.valid && refnum.dirty) }">
                          <div [ngClass]="{'form-group has-error has-feedback':(refnum.invalid && refnum.dirty && (!model.refnum==''))}">
                        <label for="refnum" class="form-label">Reference number <span><a href="#" class="tooltip-oao" data-toggle="tooltip" data-placement="top" title="Please specify the reference number 
                                          against your name in your Medicare Card"><img src="/assets/images/tooltip.svg" alt=""></a></span> </label>
												<input type="text" minlength="1" maxlength="1" pattern="[1-9]" class="form-control txtbox" id="refnum" [(ngModel)]="model.refnum" name="refnum" #refnum="ngModel" onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                      <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(refnum.valid && refnum.dirty)}"></span>
                            <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(refnum.invalid && refnum.dirty && (!model.refnum==''))}"></span>
                            <small [hidden]="refnum.valid || (refnum.pristine ) || model.refnum==null || model.refnum==''" class="text-danger">
                              {{configMsg?.refnumber}}   <!--This is a required field  -->
                                </small>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--md2 datepicked-->
                    <div class="col-md-4 col-sm-4 has-min-height-106 chkIdDatePicker">
                       <md2-datepicker 
                          placeholder="Valid to"
                          id="validTo"
                          [(ngModel)]="model.validTo" 
                          name="validTo" #validTo 
                          (click)="dispDate(validTo.value)"
                          [required]="isRequired"
                          [disabled]="isDisabled"
                          [openOnFocus]="isOpenOnFocus"
                          [isOpen]="isOpen"
                          [type]="date"
                          [min]="minDate"
                          [max]="maxDate"
                          [mode]="mode"
                          [container]="container"
                          #dateControl="ngModel">
                        </md2-datepicker>
                    </div>
                  </div>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade" id="Driver" aria-labelledby="home-tab">
                <div class="form-group ">
                  <div class="row">
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="fname" class="form-label">First name </label>
                        <input type="text" class="form-control txtbox" id="fname" [(ngModel)]="model.fname" name="fname" #fname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="mname" class="form-label">Middle name (Optional) </label>
                        <input type="text" class="form-control txtbox" id="mname" [(ngModel)]="model.mname" name="mname" #mname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                      <div class="form-group">
                        <label for="lname" class="form-label">Last name </label>
                        <input type="text" class="form-control txtbox" id="lname" [(ngModel)]="model.lname" name="lname" #lname="ngModel" readonly>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 has-min-height-106">
                      <div class="form-group">
                        <label for="DLidState" class="form-label">State of driver license registration</label>
                        <select class="form-control txtbox" id="DLidState" [(ngModel)]="model.DLidState" name="DLidState" #DLidState="ngModel">
                                       <option value="0" >Select</option>
                                       <option *ngFor="let details of state" [ngValue]= "details.prop_val" [selected]="details.prop_val == model.DLidState" >
                                                  {{details.prop_desc}} 
                                       </option>
                                       </select>
                      </div>
                    </div>
                    <div class="col-md-4 col-sm-4 has-min-height-106">

                      <div [ngClass]="{'form-group has-success has-feedback':(LNum.valid && LNum.dirty ) }">
                        <div [ngClass]="{'form-group has-error has-feedback':(LNum.invalid && LNum.dirty && (!model.LNum==''))}">
                          <div class="form-group">
                            <label for="LNum" class="form-label">License #</label>
                            <input type="text" class="form-control txtbox" id="LNum" [(ngModel)]="model.LNum" name="LNum" #LNum="ngModel" DrivingLicenceValidator>
                            <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(LNum.valid && LNum.dirty ) }"></span>
                            <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(LNum.invalid && LNum.dirty && (!model.LNum=='') )}"></span>
                            <small [hidden]="LNum.valid || (LNum.pristine ) || model.LNum==null || model.LNum==''" class="text-danger">
                              {{configMsg?.dlNum}}   
                                </small>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-btn-wrapper">
              <a class="btn btn-icon-back"> <img src="/assets/images/back-icon.svg" alt="back-icon" (click)="updateSection()"> </a>
              <a class="skip-btn" data-toggle="modal" data-dismiss="modal" *ngIf="idCheck_v=='O' && prod_code=='EVR'" (click)="getAccno()">skip</a>
              <a class="skip-btn" data-toggle="modal" data-target="#success_loan" data-dismiss="modal" *ngIf="idCheck_v=='O' && prod_code=='HML' || prod_code=='PRL'"
                (click)="successLoan()">skip</a>
              <!--<a class="btn btn-form-primary ladda-button" data-style="expand-right" id="onlineIdInfoSubmit"><span class="ladda-label">CONFIRM</span></a>-->
              <button type="submit" class="btn btn-form-primary ladda-button"  [ladda]="isLoading"  data-style="expand-right"
							data-spinner-color="white"><span class="ladda-label">CONFIRM</span></button>
            </div>
          </form>
        </div>
      </div>
      <!-- //basic-info -->
    </div>
  </div>
  <!-- //Page Content -->
  <oaofooter></oaofooter>
</div>
<!-- wrapper -->

<div id="success" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-pop matching-customer-details">
    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-body">
        <div class="success-modal">
          <button type="button" class="close" data-dismiss="modal" [routerLink]="['/home']" (click)="clear()"><img src="/assets/images/close.svg" alt=""></button>
          <div class="center-content">
            <span class="info-icon successicon"><img src="/assets/images/success.svg" alt=""></span>
            <h2>Success!</h2>
            <h4>Your everyday account has been set up.</h4>
            <div class="customer-details">
              <div class="details-label">
                <p class="cust-id">Customer ID </p>
              </div>
              <div class="sybmol">
                <p class="cust-id"> :</p>
              </div>
              <div class="cus-details-value">
                <p class="cust-id"><strong>{{model.core_customer_id}}</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="customer-details">
              <div class="details-label">
                <p class="bsb">BSB </p>
              </div>
              <div class="sybmol">
                <p class="bsb"> :</p>
              </div>
              <div class="cus-details-value">
                <p class="bsb"><strong>{{model.bank_bsb_number}}</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="customer-details">
              <div class="details-label">
                <p class="act-no">Account number </p>
              </div>
              <div class="sybmol">
                <p class="act-no"> :</p>
              </div>
              <div class="cus-details-value">
                <p class="act-no"><strong>{{model.core_account_number}}</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="existing-member-login">
              <div class="info-alert  center-msg">
                <div class="alert-msg"> {{inf_003}}
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!--<p class="continue-qstn">Do you want to continue with Internet Banking registration
            </p>-->
            <a [routerLink]="['/home']" class="regbtn" data-dismiss="modal" (click)="clear()">HOME</a>
            <a [routerLink]="['/PasswordSetup']" class="regbtn" data-dismiss="modal">REGISTER FOR INTERNET BANKING</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="success-1" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-pop matching-customer-details">
    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-body">
        <div class="success-modal">
          <button type="button" class="close" data-dismiss="modal" [routerLink]="['/home']" (click)="clear()"><img src="/assets/images/close.svg" alt=""></button>
          <div class="center-content">
            <span class="info-icon successicon"><img src="/assets/images/success.svg" alt=""></span>
            <h2>Success!</h2>
            <h4>Your everyday account has been set up.</h4>
            <div class="customer-details">
              <div class="details-label">
                <p class="cust-id">Customer ID </p>
              </div>
              <div class="sybmol">
                <p class="cust-id"> :</p>
              </div>
              <div class="cus-details-value">
                <p class="cust-id"><strong>{{model.core_customer_id}}</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="customer-details">
              <div class="details-label">
                <p class="bsb">BSB </p>
              </div>
              <div class="sybmol">
                <p class="bsb"> :</p>
              </div>
              <div class="cus-details-value">
                <p class="bsb"><strong>{{model.bank_bsb_number}}</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="customer-details">
              <div class="details-label">
                <p class="act-no">Account number </p>
              </div>
              <div class="sybmol">
                <p class="act-no"> :</p>
              </div>
              <div class="cus-details-value">
                <p class="act-no"><strong>{{model.core_account_number}}</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="existing-member-login">
              <div class="info-alert center-msg">
                <div class="alert-msg"> {{inf_003}}</div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!--<p class="continue-qstn">Do you want to continue with Internet Banking registration
            </p>-->
            <a [routerLink]="['/home']" class="regbtn" data-dismiss="modal" (click)="clear()">HOME</a>
            <a [routerLink]="['/PasswordSetup']" class="regbtn" data-dismiss="modal">REGISTER FOR INTERNET BANKING</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="error" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-pop matching-customer-details">
		<!-- Modal content-->
		<div class="modal-content ">
			<div class="modal-body">
				<div class="matching-customer-des">
					<button type="button" class="close address-info" data-dismiss="modal"><img src="/assets/images/close.svg" alt=""></button>
					<div class="center-content">
						<span class="info-icon"><img src="/assets/images/info.svg" alt=""></span>
						<h2>Online ID Check Verification Failed
						</h2>
						<div class="online-check-links">
							 <div class="row">
                                <div class="col-md-2 col-xm-1"></div>
                                <div class="col-md-5 col-xs-7">
                                    <h3 style="text-align:right;">Passport ID :</h3>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <img class="fail" src="/assets/images/wrong.png" alt="">
                                </div>
                                <div class="col-md-2 col-xm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xm-1"></div>
                                <div class="col-md-5 col-xs-7">
                                    <h3 style="text-align:right;">Driver License ID :</h3>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <img class="fail" src="/assets/images/wrong.png" alt="">
                                </div>
                                <div class="col-md-2 col-xm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-1"></div>
                                <div class="col-md-5 col-xs-7">
                                    <h3 style="text-align:right;">Medicare ID :</h3>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <img class="fail" src="/assets/images/wrong.png" alt="">
                                </div>
                                <div class="col-md-2 col-xm-1"></div>
                            </div>
							<div class="online-check-links">
								<a class="skip-btn" data-toggle="modal" data-dismiss="modal" *ngIf= "prod_code=='EVR'" (click)="getAccno()">skip</a>
								<a class="skip-btn" data-toggle="modal" data-target="#success_loan" data-dismiss="modal" *ngIf=" prod_code=='HML' || prod_code=='PRL'"
									(click)="successLoan()">skip</a>
								<a class="btn btn-form-primary" data-dismiss="modal" (click)="back()">Back</a>
							</div>
							<div class="existing-member-login">
								<div class="info-alert  center-msg">
									<div class="alert-msg"> {{inf_006}}</div>
									<div class="clearfix"></div>
								</div>
							</div>
							<br>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!---- for online id check---->
<div id="onlineidcheck" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-pop matching-customer-details">
		<!-- Modal content-->
		<div class="modal-content ">
			<div class="modal-body">
				<div class="matching-customer-des">
					<button type="button" class="close address-info" data-dismiss="modal"><img src="/assets/images/close.svg" alt=""></button>
					<div class="center-content">
						<span class="info-icon"><img src="/assets/images/info.svg" alt=""></span>
						<h2>Online ID Check Verification
						</h2>
						<div class="online-check-links">
							<div class="row">
                                <div class="col-md-2 col-xm-1"></div>
                                <div class="col-md-5 col-xs-7">
                                    <h3 style="text-align:right;">Passport ID :</h3>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <span *ngIf="passport_check=='success'"><img class="fail" src="/assets/images/right1.png" alt=""></span>
                                    <span *ngIf="passport_check!='success'"><img class="fail" src="/assets/images/wrong.png" alt=""></span>
                                </div>
                                <div class="col-md-2 col-xm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-xm-1"></div>
                                <div class="col-md-5 col-xs-7">
                                    <h3 style="text-align:right;">Driver License ID :</h3>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <span *ngIf="DL_check=='success'"><img class="fail" src="/assets/images/right1.png" alt=""></span>
                                    <span *ngIf="DL_check!='success'"><img class="fail" src="/assets/images/wrong.png" alt=""></span>
                                </div>
                                <div class="col-md-2 col-xm-1"></div>
                            </div>
                            <div class="row">
                                <div class="col-md-2 col-sm-1"></div>
                                <div class="col-md-5 col-xs-7">
                                    <h3 style="text-align:right;">Medicare ID :</h3>
                                </div>
                                <div class="col-md-1 col-xs-2">
                                    <span *ngIf="Medicare_check=='success'"><img class="fail" src="/assets/images/right1.png" alt=""></span>
                                    <span *ngIf="Medicare_check!='success'"><img class="fail" src="/assets/images/wrong.png" alt=""></span>
                                </div>
                                <div class="col-md-2 col-xm-1"></div>
                            </div>
							<br>
							<div class="info-alert  center-msg">
								<div class="alert-msg"> {{inf_007}}</div>
								<div class="clearfix"></div>
							</div>
							<br>
							<button type="button" class="btn btn-form-primary" data-dismiss="modal" (click)="onSubmit(basicDetails.value)">Continue</button>
							<br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- for loan account success -->
<div id="success_loan" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-pop matching-customer-details">
    <!-- Modal content-->
    <div class="modal-content ">
      <div class="modal-body">
        <div class="success-modal">
          <button type="button" class="close" data-dismiss="modal" [routerLink]="['/home']" (click)="clear()"><img src="/assets/images/close.svg" alt=""></button>
          <div class="center-content">
            <span class="info-icon successicon"><img src="/assets/images/success.svg" alt=""></span>
            <h2>Success!</h2>
            <h4>Your {{prod_type}} request has been submitted successfully.</h4>
            <div class="existing-member-login">
              <div class="info-alert  center-msg">
                <div class="alert-msg"> {{inf_loan}}
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="customer-details">
              <div class="details-label">
                <p class="cust-id">Application Reference</p>
              </div>
              <div class="sybmol">
                <p class="cust-id"> :</p>
              </div>
              <div class="cus-details-value">
                <p class="cust-id"><strong>{{application_id}}</strong></p>
              </div>
              <div class="clearfix"></div>
            </div>
            <a [routerLink]="['/home']" class="regbtn" data-dismiss="modal" (click)="clear()">HOME</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>