<div class="wrapper" id="loader">
  <oaoheader></oaoheader>
  <!-- Page Content -->

  <div class="page-content-info">
    <div class="info-bg">
      <div class="container">
        <h1 class="page-title">{{prod_type}}</h1>
      </div>
    </div>
    <div class="page-card">
      <div class="horizontal-step-nav">
        <ul>
          <li class="active"><span class="stepvalue">1</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
          <li class=""><span class="stepvalue">2</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
          <li><span class="stepvalue">3</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
          <li><span class="stepvalue">4</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
        </ul>
      </div>
      <h3 class="card-title">Personal Information
        <span class="enble-joint">
                  <a href="basic-information-joint.html">
                  Enable joint applicant
                  </a>
                  </span>
      </h3>
      <!-- basic-info -->
      <div class="basic-info">
        <h6 class="form-heading">Basic Information </h6>
        <form (ngSubmit)="onSubmit(basicDetails.value)" #basicDetails="ngForm">
          <div class="row">
            <div class="col-md-4 col-sm-6 has-min-height-106">

							<div [ngClass]="{'form-group has-success has-feedback':(fname.valid && fname.dirty  ) }">
								<div [ngClass]="{'form-group has-error has-feedback':(fname.invalid && fname.dirty )}">
									<label for="fname" class="form-label">First name </label>
									<div class="input-group">
										<div class="input-group-btn">
											<select class="form-control txtbox" id="title" [(ngModel)]="model.title" name="title" #title="ngModel">
                                          <option value="0" >Title</option>
                                          <option *ngFor="let details of items" [ngValue]= "details"  >
                                                  {{details}} 
                                       </option>
                                    </select>
										</div>
										<!-- /btn-group -->
										<input type="text"  class="form-control txtbox" [(ngModel)]="model.fname" id="fname" name="fname" #fname="ngModel"
											nameValidate>
										<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(fname.valid && fname.dirty )}"></span>
										<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(fname.invalid && fname.dirty )}"></span>
									</div>
									<small [hidden]="!((fname.valid && fname.dirty ) && model.title=='0')"  class="text-danger">
                            {{configMsg?.title}} 
                                </small>
									<small [hidden]="fname.valid || fname.pristine || model.fname==null || model.fname==''" class="text-danger">
                                {{configMsg?.name}} <!--This is a required field and Can contain letters and apostrophe-->
                                </small>
								</div>
								<!-- /input-group -->
							</div>

						</div>
						<div class="col-md-4 col-sm-6 has-min-height-106">

							<div [ngClass]="{'form-group has-success has-feedback':(mname.valid && mname.dirty ) }">
								<div [ngClass]="{'form-group has-error has-feedback':(mname.invalid && mname.dirty && (!model.mname==''))}">
									<label for="mname" class="form-label">Middle name (Optional) </label>
									<input type="text" class="form-control txtbox" [(ngModel)]="model.mname" id="mname" name="mname" #mname="ngModel" nameValidate>
									<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(mname.valid && mname.dirty )}"></span>
									<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(mname.invalid && mname.dirty && (!model.mname==''))}"></span>
									<small [hidden]="mname.valid || mname.pristine || model.mname==null || model.mname==''" class="text-danger">
                                {{configMsg?.mname}} <!--This is a required field and Can contain letters and apostrophe-->
                                </small>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 has-min-height-106">
							<div [ngClass]="{'form-group has-success has-feedback':(lname.valid && lname.dirty ) }">
								<div [ngClass]="{'form-group has-error has-feedback':(lname.invalid && lname.dirty )}">
									<label for="lname" class="form-label">Last name  </label>
									<input type="text" class="form-control txtbox" [(ngModel)]="model.lname" id="lname" name="lname" #lname="ngModel" nameValidate>
									<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(lname.valid && lname.dirty )}"></span>
									<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(lname.invalid && lname.dirty )}"></span>
									<small [hidden]="lname.valid || lname.pristine || model.lname==null || model.lname==''" class="text-danger">
                                {{configMsg?.name}} <!--This is a required field and Can contain letters and apostrophe-->
                                </small>
								</div>
							</div>


						</div>
						<div class="col-md-4 col-sm-6 has-min-height-106">
               <md2-datepicker 
                      placeholder="Date of birth"
                      [(ngModel)]="model.dob" 
                      name="dob" #dob 
                      (click)="dispDate(dob.value)"
                      [required]="isRequired"
                      [disabled]="isDisabled"
                      [openOnFocus]="isOpenOnFocus"
                      [isOpen]="isOpen"
                      [type]="date"
                      [min]="minDate"
                      [max]="maxDate"
                      [mode]="mode"
                      [container]="container"
                      #dateControl="ngModel">
                  </md2-datepicker>
            </div>
					</div>
					<div class="form-btn-wrapper">
						<a tabindex="-1" [routerLink]="['/home']" (click)="clear()" class="btn btn-icon-back"> <img src="/assets/images/back-icon.svg" alt="back-icon" tabindex="0"> </a>
						<!--<a tabindex="0" class="btn btn-form-primary ladda-button" data-style="expand-right" id="basicInfoSubmit" ><span class="ladda-label">SAVE & CONTINUE</span></a>-->
						<button type="submit" tabindex="0" class="btn btn-form-primary" [ladda]="isLoading"  data-style="expand-right"
							data-spinner-color="white" [disabled]="!fname.valid || model.dob=='' || !lname.valid || model.title=='0'"><span class="ladda-label">SAVE & CONTINUE</span></button>


					</div>
				</form>
			</div>
			<!-- //basic-info -->
		</div>
	</div>
	<!-- //Page Content -->
	<oaofooter></oaofooter>

</div>
<!-- wrapper -->