<div class="wrapper">
    <oaoheader></oaoheader>
    <!-- Page Content -->
    <div class="page-content-info">
        <div class="info-bg">
            <div class="container">
                <h1 class="page-title">{{prod_type}}</h1>
            </div>
        </div>
        <div class="page-card">
            <div class="horizontal-step-nav">
                <ul>
                    <li class="completed"><span class="stepvalue">1</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                    <li class="active"><span class="stepvalue">2</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                    <li><span class="stepvalue">3</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                    <li><span class="stepvalue">4</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                </ul>
            </div>
            <h3 class="card-title">Tax Information
            </h3>
            <!-- basic-info -->
            <div class="basic-info">
                <form class="form" (ngSubmit)="onSubmit(basicDetails.value)" #basicDetails="ngForm">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 has-min-height-106">
                            <div [ngClass]="{'form-group has-success has-feedback':(tfn.valid && tfn.dirty ) }">
                                <div [ngClass]="{'form-group has-error has-feedback':(tfn.invalid && tfn.dirty )}">
                                    <label for="tfn" class="form-label">TFN</label>
                                    <input type="text" [disabled]="reasonval!=''" (keyup)="tfnfunc($event)" class="form-control txtbox" name="tfn" maxlength="9"
                                        onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));"
                                        [(ngModel)]="model.tfn" #tfn="ngModel" id="tfn" tfnValidator>
                                    <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(tfn.valid && tfn.dirty)}"></span>
                                    <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(tfn.invalid && tfn.dirty )}"></span>
                                    <small [hidden]="tfn.valid || (tfn.pristine ) || model.tfn==null || model.tfn==''" class="text-danger">
                                         {{configMsg?.tfn}}
                                </small>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-8 col-sm-8">
                            <div class="form-group">
                                <label for="mname" class="form-label">Exemption reason </label>
                                <select (change)="reasonfunc($event)" [disabled]="tfnval!=''" class="form-control txtbox" id="exemption" name="exemption"
                                    [(ngModel)]="model.exemption" #exemption="ngModel">
                                    
                                        <option value="0" *ngIf="tfnval!=''">Not Applicable</option>
                                
                                     
                                        <option value="0" *ngIf="tfnval==''">Select</option>
                                        <option *ngFor="let details of items" [ngValue]= "details.prop_val"  >
                                                    {{details.prop_desc}} 
                                        </option>    
                                     
                              </select>
                            </div>
                          
                        </div>
                        <div class="col-md-8 col-sm-8">
                            <small [hidden]="!err" class="text-danger">
                               <!--{{configMsg?.email}}  This is a required field or Enter in abc@xyz.com format -->
                               Either TFN or Excemption is required
                        </small>
                        </div>
                        <div  class="row form-group">
                            <div class="col-md-8 col-sm-8 has-min-height-56">
                                <div class="existing-member-login">
                                    <div [hidden]="!((model.tfn==null ||model.tfn=='' )&& model.exemption==0)" class="info-alert  center-msg tabs">
                                        <div class="alert-msg"> {{wrn_002}}</div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-btn-wrapper">
                            <a tabindex="0" class="btn btn-icon-back"> <img src="/assets/images/back-icon.svg" alt="back-icon" (click)="updateSection()"> </a>
                            <!--<a tabindex="0" [routerLink]="['/PersonalContactInfo']"  class="btn btn-icon-back">  <img src="/assets/images/back-icon.svg" alt="back-icon" >-->
                            <!--<a tabindex="0"  class="btn btn-form-primary ladda-button" data-style="expand-right" id="taxformInfoSubmit"><span class="ladda-label">CONTINUE</span></a>-->
                            <button type="submit" tabindex="0" class="btn btn-form-primary ladda-button"  [ladda]="isLoading"  data-style="expand-right"
							data-spinner-color="white" [disabled]="!(tfn.valid || !(model.exemption=='0'))"><span class="ladda-label" >SAVE & CONTINUE</span></button>
                        </div>
                    </div>
                </form>
            </div>

            <!-- //basic-info -->
        </div>
    </div>
    <!-- //Page Content -->
    <oaofooter></oaofooter>
</div>
<!-- wrapper -->
<div id="onlineid-check" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-pop matching-customer-details">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-body">
                <div class="matching-customer-des online-id-check">

                    <div class="center-content">
                        <span class="info-icon"><img src="/assets/images/onlineid-user.svg" alt=""></span>
                        <h2>Please perform an <br> online ID check
                        </h2>
                        <div class="online-check-links"> <a class="skip-btn" data-toggle="modal" data-dismiss="modal" (click)="getAccno()">skip</a>
                            <a [routerLink]="['/OnlineIdCheck']" class="btn btn-form-primary" data-dismiss="modal">CHECK NOW</a>
                        </div>
                        <div class="existing-member-login">
                            <div class="info-alert  center-msg">
                                <div class="alert-msg"> {{inf_002}}</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="success" class="modal fade " role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-pop matching-customer-details">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-body">
                <div class="success-modal">
                    <button type="button" class="close" data-dismiss="modal" [routerLink]="['/home']"><img src="/assets/images/close.svg" alt=""></button>
                    <div class="center-content">
                        <span class="info-icon successicon"><img src="/assets/images/success.svg" alt=""></span>
                        <h2>Success!</h2>
                        <h4>Your everyday account has been set up.</h4>
                        <div [hidden]="checkData"class="customer-details"> <!--chandan-->
                            <div class="details-label">
                                <p class="cust-id">Customer ID </p>
                            </div>
                            <div class="sybmol">
                                <p class="cust-id"> :</p>
                            </div>
                            <div class="cus-details-value">
                                <p class="cust-id"><strong>{{model.core_customer_id}}</strong></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="customer-details">
                            <div class="details-label">
                                <p class="bsb">BSB </p>
                            </div>
                            <div class="sybmol">
                                <p class="bsb"> :</p>
                            </div>
                            <div class="cus-details-value">
                                <p class="bsb"><strong>{{model.bank_bsb_number}}</strong></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="customer-details">
                            <div class="details-label">
                                <p class="act-no">Account number </p>
                            </div>
                            <div class="sybmol">
                                <p class="act-no"> :</p>
                            </div>
                            <div class="cus-details-value">
                                <p class="act-no"><strong>{{model.core_account_number}}</strong></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="existing-member-login">
                            <div [hidden]="checkData" class="info-alert  center-msg">
                                <div  class="alert-msg"> {{inf_003}}
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                         <div [hidden]="checkData">
                             <!--<p  class="continue-qstn">Do you want to continue with Internet Banking registration</p>-->
                             </div>
                        <a [routerLink]="['/home']" class="regbtn" style="margin-bottom: 10px;padding-left: 20px;"data-dismiss="modal" (click)="clear()">HOME</a>
                        <button id="reb" [routerLink]="['/PasswordSetup']"  class="regbtn" data-dismiss="modal">REGISTER FOR INTERNET BANKING</button>
                         <a id="mlogin" [routerLink]="['/Login']" class="regbtn" (click)="clear()" data-dismiss="modal" >LOGIN</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>