<!DOCTYPE html>
<html lang="en">
<head>
  <title>Fixed Navbar Case</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body  class="login-wrapper" style="height:1500px">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
         <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
      <a class="navbar-brand" href="#">Latitude Fintech</a>
    </div>
    <div class="navbar-collapse collapse" id="myNavbar">
        <ul class="nav navbar-nav">
            <li class="active" ><a data-toggle="tab"  href="#home">Home</a></li>
            <li ><a data-toggle="tab" href="#profile">Profile</a></li>
        </ul>
        <ul [hidden]="btn"class="nav navbar-nav navbar-right">
          <li><a [routerLink]="['/Login']" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
         <ul [hidden]="!btn" class="nav navbar-nav navbar-right">
          <li ><a (click)="logout()" [routerLink]="['/home']"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>
  </div>
</nav>

    <div class="container" style="margin-top:50px">
        <div [hidden]="!btn" class="tab-content"><!--to get the scroll  -->

          <div id="home" class="tab-pane fade in active">   
          </div >
	
          <div id="profile" class="tab-pane fade">
            <table class="table table-striped table-bordered table-hover table-condensed table-responsive">
              <thead style="color:ghostwhite">
                <tr>
                  <th>Name</th>
                  <th>Account Number</th>
                  <th>Customer Id</th>
                  <th>Balance</th>
                </tr>
              </thead>
              <tbody>
                <tr class="active"> 
                  <td>{{fName}}</td>
                  <td>342343343</td>
                  <td>{{userId}}</td>
                  <td>00.00</td>
                </tr>
              </tbody>
            </table>
          </div >


			  </div> 
      </div> <!--container-->
   
</body>
</html>
