<div class="wrapper">
    <oaoheader></oaoheader>
    <!-- Page Content -->
    <div class="page-content-info">
        <div class="info-bg">
            <div class="container">
                <h1 class="page-title">{{prod_type}}</h1>
            </div>
        </div>
        <div class="page-card">
            <div class="horizontal-step-nav">
                <ul>
                    <li class="completed"><span class="stepvalue">1</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                    <li class="active"><span class="stepvalue">2</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                    <li><span class="stepvalue">3</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                    <li><span class="stepvalue">4</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
                </ul>
            </div>
            <h3 class="card-title">Property Details</h3>
            <!--<div class="contact-info">-->
            <!--<h6 class="form-heading">Property Details </h6>-->
            <form class="form" (ngSubmit)="onSubmit(basicDetails.value)" #basicDetails="ngForm">

                <div class="row">
                    <div class="col-md-4 col-sm-6  has-min-height-106">
                        <div class="form-group">
                            <div [ngClass]="{'form-group has-success has-feedback':(amtborrow.valid  && amtborrow.dirty) }">
                                <div [ngClass]="{'form-group has-error has-feedback':(amtborrow.invalid && amtborrow.dirty )}">
                                    <label for="amtborrow" class="form-label">How much do you need to borrow?</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">A$</span>
                                        <input type="text" required class="form-control txtbox saveInfo" id="amtborrow" [(ngModel)]="model.amtborrow" name="amtborrow"
                                            #amtborrow="ngModel" autofocus (focus)="revert(amtborrow.value,'amtborrow')"  (blur)="AmountFormatter(amtborrow.value,'amtborrow')"
                                             onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                                        <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(amtborrow.valid  && amtborrow.dirty)}"></span>
                                        <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(amtborrow.invalid && amtborrow.dirty )}"></span>
                                    </div>
                                    <small [hidden]="amtborrow.valid || (amtborrow.pristine )" class="text-danger">
                                 {{configMsg?.amount}}
                                </small>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="loanterm" class="form-label">Choose a loan term</label>
                            <select class="form-control txtbox" required id="loanterm" name="loanterm" [(ngModel)]="model.loanterm" #loanterm="ngModel">
                                        <option value="0">Select</option>
                                        <option *ngFor="let details of loanTerm" [ngValue]= "details.prop_desc"  >
                                                  {{details.prop_desc}} 
                                        </option>
                              </select>
                            <small [hidden]="loanterm.valid" class="text-danger">
                                 {{configMsg?.required_v}}
                                </small>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                             
                            <fieldset id="frequencyType">
                                <h6 class="form-label">How frequently do you want to make repayments?</h6>
                                <label class="form-label spaces radio-toolbar" [ngClass]="{'highlightradio':model.frequencyType=='Monthly'}">
                                    <div class="form-group ">
                                    <input type="radio" class="styled" name="frequencyType" [checked] id="frequencyType" [(ngModel)]="model.frequencyType" value="Monthly">
                                   Monthly  
                                    </div>
                                </label>
                                <label class="form-label spaces radio-toolbar" [ngClass]="{'highlightradio':model.frequencyType=='Fortnightly'}"> 
                                    <div class="form-group ">
                                    <input type="radio" class="styled" name="frequencyType" id="frequencyType" [(ngModel)]="model.frequencyType" value="Fortnightly">
                                   Fortnightly
                                    </div>
                                </label>
                                <label class="form-label radio-toolbar" [ngClass]="{'highlightradio':model.frequencyType=='Weekly'}">
                                    <div class="form-group ">
                                 <input type="radio" class="styled" name="frequencyType" id="frequencyType" [(ngModel)]="model.frequencyType" value="Weekly">
                                    Weekly
                                    </div>
                                </label>
                            </fieldset>
                        
                    </div>
                    <!--<p>for calculation of loan amount</p>-->
                    <!--<div class="col-lg-6 esitmated-repay">
									<p id="month" [hidden]="!model.frequencyType=='Monthly' || model.frequencyType=='Weekly' || model.frequencyType=='Fortnightly'" class="repay-text">Repayments $1,282 @ Fixed rate of4.65% p.a. </p>
									<p id="fort" [hidden]="!model.frequencyType=='Fortnightly' || model.frequencyType=='Monthly' || model.frequencyType=='Weekly' " class="repay-text"> Repayments $591 @ Fixed rate of4.65% p.a</p>
									<p id="week" [hidden]="!model.frequencyType=='Weekly' || model.frequencyType=='Fortnightly' || model.frequencyType=='Monthly'" class="repay-text">Repayments $295 @ Fixed rate of4.65% p.a.</p>
						</div>-->
                </div>
                <div class="row">
                    <div class="col-md-8 col-sm-12 col-xs-12">
                            
                            <fieldset id="interesttype">
                                <h6 class="form-label">Choose interest type for your loan</h6>
                                <label class="form-label spaces radio-toolbar"  [ngClass]="{'highlightradio':model.interesttype=='FIXED'}">
                                     <div class="form-group ">
                                    <input type="radio"  class="styled" name="interesttype" [checked] id="interesttype" [(ngModel)]="model.interesttype" value="FIXED" (change)="clear($event.target.getAttribute('value'))">
                                  Fixed
                                     </div>
                                </label>
                                <label class="form-label spaces radio-toolbar" [ngClass]="{'highlightradio':model.interesttype=='VARIABLE'}"> 
                                     <div class="form-group ">
                                    <input type="radio"  class="styled" name="interesttype" id="interesttype" [(ngModel)]="model.interesttype" value="VARIABLE" (change)="clear($event.target.getAttribute('value'))">
                                   Variable
                                     </div>
                                </label>
                                <label class="form-label radio-toolbar" [ngClass]="{'highlightradio':model.interesttype=='SPLIT'}">
                                     <div class="form-group ">
                                 <input type="radio"  class="styled" name="interesttype" id="interesttype" [(ngModel)]="model.interesttype" value="SPLIT">
                                    Split
                                     </div>
                                </label>
                            </fieldset>
                        </div>
                   
                </div>
                <!-- for split -->
                <div class="row" [hidden]="model.interesttype=='FIXED' || model.interesttype=='VARIABLE'">
                    <div class="col-md-4 col-sm-6  has-min-height-106">
                        <div class="form-group">
                            <div [ngClass]="{'form-group has-success has-feedback':(fixedper.valid && fixedper.dirty) }">
                                <div [ngClass]="{'form-group has-error has-feedback':(fixedper.invalid && fixedper.dirty )}">


                                    <label for="fixedper" class="form-label">Fixed in %</label>
                                    <input type="number" class="form-control txtbox saveInfo" min="1" max="99" size="1" maxlength="2" [required]="model.fixedper=='SPLIT'"
                                        id="fixedper" [(ngModel)]="model.fixedper" name="fixedper" #fixedper="ngModel" (blur)="checkPercentage()"
                                        splitValidator>

                                    <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(fixedper.valid  && fixedper.dirty)}"></span>
                                    <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(fixedper.invalid && fixedper.dirty )}"></span>
                                    <small [hidden]="fixedper.valid || (fixedper.pristine )" class="text-danger">
                                 {{configMsg?.number1_99}}
                                </small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">

                            <label for="variableper" class="form-label">Variable in %</label>
                            <input type="number" class="form-control txtbox saveInfo" min="1" max="99" size="1" step="0.01" maxlength="2" [required]="model.variableper=='SPLIT'"
                                id="variableper" [(ngModel)]="model.variableper" name="variableper" #variableper="ngModel" readonly>

                        </div>
                        <small [hidden]="variableper.valid || (variableper.pristine )" class="text-danger">
                                 {{configMsg?.required_v}}
                                </small>
                    </div>
                </div>
                <!--// for split -->
                <!-- for fixed and variable and split -->
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <label for="repaymenttype" class="form-label">Choose a repayment type for your loan</label>
                            <select class="form-control txtbox saveInfo" [required] id="repaymenttype" name="repaymenttype" [(ngModel)]="model.repaymenttype"
                                #repaymenttype="ngModel">
                                       <option value="0">Select</option>
                                        <option *ngFor="let details of repaymentType" [ngValue]= "details.prop_desc"  >
                                                  {{details.prop_desc}} 
                                        </option>
                              </select>
                        </div>
                        <small [hidden]="repaymenttype.valid || (repaymenttype.pristine )" class="text-danger">
                                 {{configMsg?.required_v}}
                                </small>
                    </div>

                </div>
                <!--// for fixed and variable split-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox">
                            <input id="consolidateMortage" class="styled" type="checkbox" [(ngModel)]="model.consolidateMortage" name="consolidateMortage"
                                #consolidateMortage="ngModel" [checked]="checked" value="consolidateMortage" (change)="clearCheckbox($event.target.getAttribute('value'),$event.target.checked)">
                            <label for="consolidateMortage">I would like to consolidate existing mortgage debt with this mortgage</label>
                        </div>
                    </div>
                </div>
                <!-- for consolidateMortage above checkbox-->
                <div class="row" [hidden]="model.consolidateMortage==false || model.consolidateMortage==null">
                    <div class="col-md-4 col-sm-6  has-min-height-106">
                        <div class="form-group">
                            <div [ngClass]="{'form-group has-success has-feedback':(estvalue.valid  && estvalue.dirty) }">
                                <div [ngClass]="{'form-group has-error has-feedback':(estvalue.invalid && estvalue.dirty )}">

                                    <label for="estvalue" class="form-label">Estimated value</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">A$</span>
                                        <input type="text" [required]="model.consolidateMortage==true" class="form-control txtbox saveInfo" id="estvalue" [(ngModel)]="model.estvalue" name="estvalue"
                                        #estvalue="ngModel" (focus)="revert(estvalue.value,'estvalue')"  (blur)="AmountFormatter(estvalue.value,'estvalue')"
                                         onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                                        <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(estvalue.valid  && estvalue.dirty)}"></span>
                                        <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(estvalue.invalid && estvalue.dirty )}"></span>
                                    </div>
                                    <small [hidden]="estvalue.valid || (estvalue.pristine )" class="text-danger">
                                 {{configMsg?.amount}}
                                </small>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-6  has-min-height-106">
                        <div class="form-group">
                            <div [ngClass]="{'form-group has-success has-feedback':(propaddress_m.valid && propaddress_m.dirty) }">
                                <div [ngClass]="{'form-group has-error has-feedback':(propaddress_m.invalid && propaddress_m.dirty )}">

                                    <label for="propaddress_m" class="form-label">Specify the property Address</label>
                                    <input type="text" [required]="model.consolidateMortage==true" class="form-control txtbox saveInfo" id="propaddress_m" [(ngModel)]="model.propaddress_m"
                                        name="propaddress_m" #propaddress_m="ngModel">

                                    <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(propaddress_m.valid  && propaddress_m.dirty)}"></span>
                                    <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(propaddress_m.invalid && propaddress_m.dirty )}"></span>
                                    <small [hidden]="propaddress_m.valid || (propaddress_m.pristine )" class="text-danger">
                                 {{configMsg?.required_v}}
                                </small>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-4 col-sm-6 has-min-height-106">
                        <div class="form-group">
                            <div [ngClass]="{'form-group has-success has-feedback':(finInstitution.valid && finInstitution.dirty) }">
                                <div [ngClass]="{'form-group has-error has-feedback':(finInstitution.invalid && finInstitution.dirty )}">

                                    <label for="finInstitution" class="form-label">Financial Institution</label>
                                    <input type="text" [required]="model.consolidateMortage==true" class="form-control txtbox saveInfo" id="finInstitution" [(ngModel)]="model.finInstitution"
                                        name="finInstitution" #finInstitution="ngModel">
                                    <span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(finInstitution.valid && finInstitution.dirty)}"></span>
                                    <span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(finInstitution.invalid && finInstitution.dirty )}"></span>
                                    <small [hidden]="finInstitution.valid || (finInstitution.pristine )" class="text-danger">
                                 {{configMsg?.required_v}}
                                </small>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <!--// for consolidateMortage above checkbox-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="checkbox">
                            <input id="consolidateotherMortage" class="styled" type="checkbox" [(ngModel)]="model.consolidateotherMortage" name="consolidateotherMortage"
                                #consolidateotherMortage="ngModel" [checked]="checked" value="consolidateotherMortage" (change)="clearCheckbox($event.target.getAttribute('value'),$event.target.checked)">
                            <label for="consolidateotherMortage">I would like to consolidate other debt with this mortgage</label>
                        </div>
                    </div>
                </div>
                <!-- for consolidate Other Mortage above checkbox-->
                <div [hidden]="model.consolidateotherMortage==false || model.consolidateotherMortage==null">
                    <div class="row">
                        <h6 class="">Credit Card</h6>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="cc_estvalue" class="form-label">Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon">A$</span>
                                    <input type="text" class="form-control txtbox saveInfo" id="cc_estvalue" [(ngModel)]="model.cc_estvalue" name="cc_estvalue"
                                        #cc_estvalue="ngModel" (focus)="revert(cc_estvalue.value,'cc_estvalue')"  (blur)="AmountFormatter(cc_estvalue.value,'cc_estvalue')"
                                         onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="cc_finInstitution" class="form-label">Financial Institution</label>
                                <input type="text" class="form-control txtbox saveInfo" id="cc_finInstitution" [(ngModel)]="model.cc_finInstitution" name="cc_finInstitution"
                                    #cc_finInstitution="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="">Personal Loan</h6>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="pl_estvalue" class="form-label">Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon">A$</span>
                                    <input type="text" class="form-control txtbox saveInfo" id="pl_estvalue" [(ngModel)]="model.pl_estvalue" name="pl_estvalue"
                                        #pl_estvalue="ngModel" (focus)="revert(pl_estvalue.value,'pl_estvalue')"  (blur)="AmountFormatter(pl_estvalue.value,'pl_estvalue')"
                                         onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="pl_finInstitution" class="form-label">Financial Institution</label>
                                <input type="text" class="form-control txtbox saveInfo" id="pl_finInstitution" [(ngModel)]="model.pl_finInstitution" name="pl_finInstitution"
                                    #pl_finInstitution="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="">Car Loan</h6>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="cl_estvalue" class="form-label">Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon">A$</span>
                                    <input type="text" class="form-control txtbox saveInfo" id="cl_estvalue" [(ngModel)]="model.cl_estvalue" name="cl_estvalue"
                                        #cl_estvalue="ngModel" (focus)="revert(cl_estvalue.value,'cl_estvalue')"  (blur)="AmountFormatter(cl_estvalue.value,'cl_estvalue')"
                                         onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="cl_finInstitution" class="form-label">Financial Institution</label>
                                <input type="text" class="form-control txtbox saveInfo" id="cl_finInstitution" [(ngModel)]="model.cl_finInstitution" name="cl_finInstitution"
                                    #cl_finInstitution="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="">Student Loan</h6>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="sl_estvalue" class="form-label">Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon">A$</span>
                                    <input type="text" class="form-control txtbox saveInfo" id="sl_estvalue" [(ngModel)]="model.sl_estvalue" name="sl_estvalue"
                                        #sl_estvalue="ngModel" (focus)="revert(sl_estvalue.value,'sl_estvalue')"  (blur)="AmountFormatter(sl_estvalue.value,'sl_estvalue')"
                                         onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="sl_finInstitution" class="form-label">Financial Institution</label>
                                <input type="text" class="form-control txtbox saveInfo" id="sl_finInstitution" [(ngModel)]="model.sl_finInstitution" name="sl_finInstitution"
                                    #sl_finInstitution="ngModel">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h6 class="">Others</h6>
                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="o_estvalue" class="form-label">Amount</label>
                                <div class="input-group">
                                    <span class="input-group-addon">A$</span>
                                    <input type="text" class="form-control txtbox saveInfo" id="o_estvalue" [(ngModel)]="model.o_estvalue" name="o_estvalue"
                                        #o_estvalue="ngModel" (focus)="revert(o_estvalue.value,'o_estvalue')"  (blur)="AmountFormatter(o_estvalue.value,'o_estvalue')"
                                         onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <label for="o_finInstitution" class="form-label">Financial Institution</label>
                                <input type="text" class="form-control txtbox saveInfo" id="o_finInstitution" [(ngModel)]="model.o_finInstitution" name="o_finInstitution"
                                    #o_finInstitution="ngModel">
                            </div>
                        </div>
                    </div>
                </div>
                <!--// for consolidate Other Mortage above checkbox-->

                <div class="form-btn-wrapper">
                    <a tabindex="0" class="btn btn-icon-back"> <img src="/assets/images/back-icon.svg" alt="back-icon" (click)="updateSection()"> </a>
                    <!--<a tabindex="0" [routerLink]="['/PersonalBasicInfo']" class="btn btn-icon-back">  <img src="/assets/images/back-icon.svg" alt="back-icon"> </a>-->
                    <!--<a tabindex="0" class="btn btn-form-primary ladda-button" data-style="expand-right" id="contactInfoSubmit"><span class="ladda-label">CONTINUE</span></a>-->
                    <button type="submit" tabindex="0" class="btn btn-form-primary ladda-button" data-dismiss="modal" [ladda]="isLoading"  data-style="expand-right"
							data-spinner-color="white" [disabled]="!amtborrow.valid || model.loanterm=='0' || model.repaymenttype=='0'"  ><span class="ladda-label">SAVE & CONTINUE</span></button>
                </div>
            </form>
            <!--</div>-->
        </div>
    </div>

    <!-- //Page Content -->
    <oaofooter></oaofooter>

</div>
<!-- //wrapper -->