<div class="wrapper">
	<oaoheader></oaoheader>
	<!-- Page Content -->
	<div class="page-content-info">
		<div class="info-bg">
			<div class="container">
				<h1 class="page-title">{{prod_type}}</h1>
			</div>
		</div>
		<div class="page-card">
			<div class="horizontal-step-nav">
				<ul>
					<li class="completed"><span class="stepvalue">1</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
					<li class="active"><span class="stepvalue">2</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
					<li><span class="stepvalue">3</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
					<li><span class="stepvalue">4</span><span class="stepvalue-hidden"><img src="/assets/images/tick.svg" alt=""></span></li>
				</ul>
			</div>
			<h3 class="card-title">Property Details</h3>
			<form class="form" (ngSubmit)="onSubmit(basicDetails.value)" #basicDetails="ngForm">

				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">
						<label for="proptype" class="form-label">Choose one of the Loan types</label>

						<fieldset id="loantype">
							<label for="loantype1" class="form-label spaces radio-toolbar" [ngClass]="{'highlightradio':model.loantype=='REFINANCE'}">
								<div class="form-group " >
								<input type="radio" name='loantype' class="styled" id="loantype1" [checked] [(ngModel)]="model.loantype" #loantype="ngModel" value="REFINANCE" (change)="clear($event.target.getAttribute('value'))">
								Refinance</div>
							</label>
							<label for="loantype2" class="form-label  radio-toolbar" [ngClass]="{'highlightradio':model.loantype=='NEW PURCHASE'}">
								<div class="form-group" >
								<input type="radio" class="styled" name='loantype' id="loantype2" [(ngModel)]="model.loantype" #loantype="ngModel" value="NEW PURCHASE"
									(change)="clear($event.target.getAttribute('value'))">
								New Purchase</div>
								</label>

							</fieldset>
							<!--<small [hidden]="loantype.valid || (loantype.pristine )" class="text-danger">
                                 This is a required_v field and Can contain letters and apostrophe
                                </small>-->


					</div>


				</div>
				<div class="row" [hidden]="model.loantype=='REFINANCE'">

					<div class="col-md-8 col-sm-12 col-xs-12">
						<label for="property" class="form-label">Have you found property to purchase yet?</label>

						<fieldset id="property">
							<label for="property1" class="form-label spaces radio-toolbar" [ngClass]="{'highlightradio':model.property=='No'}">
								<div class="form-group ">
								<input type="radio" name='property' class="styled" id="property1" [(ngModel)]="model.property" #property="ngModel" value="No">
								 No still looking
									</div>
									</label>
							<label for="property2" class="form-label radio-toolbar" [ngClass]="{'highlightradio':model.property=='Yes'}">
								<div class="form-group ">
								<input type="radio" name='property' class="styled" id="property2" [(ngModel)]="model.property" #property="ngModel" value="Yes">
								 Yes
								</div>
								</label>
						</fieldset>
					</div>




				</div>
				<!--//end only for new purchase-->
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="form-group">
							<label for="proptype" class="form-label">Specify the property type</label>
							<select class="form-control txtbox" id="proptype" name="proptype" [(ngModel)]="model.proptype" #proptype="ngModel">
                                     <option value="0">Select</option>
                                     <option *ngFor="let details of propType" [ngValue]= "details.prop_val"  >
                                                  {{details.prop_desc}} 
                                       </option>
                              </select>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 has-min-height-106">
						<div [ngClass]="{'form-group has-success has-feedback':(purchaseprice.valid && purchaseprice.dirty) }">
							<div [ngClass]="{'form-group has-error has-feedback':(purchaseprice.invalid && purchaseprice.dirty )}">
								<label for="purchaseprice" class="form-label">Specify the Purchase Price</label>
								<div class="input-group">
									<span class="input-group-addon">A$</span>
									<input type="text" required class="form-control txtbox saveInfo" id="purchaseprice" [(ngModel)]="model.purchaseprice" name="purchaseprice"
									 #purchaseprice="ngModel" maxlength="18" (focus)="revert(purchaseprice.value,'purchaseprice')"  (blur)="AmountFormatter(purchaseprice.value,'purchaseprice')"
									  onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
									<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(purchaseprice.valid && purchaseprice.dirty)}"></span>
									<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(purchaseprice.invalid && purchaseprice.dirty )}"></span>
									</div>
									<small [hidden]="purchaseprice.valid || (purchaseprice.pristine) " class="text-danger">
                                        {{configMsg?.required_v}}
                                        </small>
							</div>
						</div>
					</div>
				</div>
				<!--// only for refinance-->
				<div class="row">
					<div [hidden]="model.loantype=='NEW PURCHASE'" class="col-md-4 col-sm-6  has-min-height-106">
						<div [ngClass]="{'form-group has-success has-feedback':(payoutbal.valid && payoutbal.dirty) }">
							<div [ngClass]="{'form-group has-error has-feedback':(payoutbal.invalid && payoutbal.dirty )}">
								<label for="payoutbal" class="form-label">Existing Loan Payout Balance </label>
								<div class="input-group">
									<span class="input-group-addon">A$</span>
									<input type="text" maxlength="18" [required]="model.loantype=='REFINANCE'" class="form-control txtbox saveInfo" id="payoutbal" [(ngModel)]="model.payoutbal"
									 name="payoutbal" #payoutbal="ngModel" (focus)="revert(payoutbal.value,'payoutbal')"  (blur)="AmountFormatter(payoutbal.value,'payoutbal')"
									  onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
									<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(payoutbal.valid  && payoutbal.dirty)}"></span>
									<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(payoutbal.invalid && payoutbal.dirty )}"></span>
									</div>
									<small [hidden]="payoutbal.valid  || (payoutbal.pristine)" class="text-danger">
                                 {{configMsg?.amount}}
                                </small>
								
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6" [hidden]="model.property=='No' && model.loantype=='NEW PURCHASE'">

						<div [ngClass]="{'form-group has-success has-feedback':(propaddr.valid && propaddr.dirty) }">
							<div [ngClass]="{'form-group has-error has-feedback':(propaddr.invalid && propaddr.dirty )}">
								<label for="propaddr" class="form-label">Specify the property Address</label>
								<input type="text" [required]="model.property=='Yes' || model.loantype=='REFINANCE' " class="form-control txtbox saveInfo"
								 id="propaddr" [(ngModel)]="model.propaddr" name="propaddr" #propaddr="ngModel">

								<span [ngClass]="{'glyphicon glyphicon-ok form-control-feedback':(propaddr.valid  && propaddr.dirty)}"></span>
								<span [ngClass]="{'glyphicon glyphicon-remove form-control-feedback':(propaddr.invalid && propaddr.dirty)}"></span>
								<small [hidden]="propaddr.valid  || (propaddr.pristine)" class="text-danger">
                                 {{configMsg?.amount}}
                                </small>
							</div>
						</div>
					</div>

				</div>
				<!--//end only for refinance-->
				<!--//only for new finance-->
				
				<!--//end only for new finance-->
				<div class="row">
					<div class="col-md-8 col-sm-12 col-xs-12">

						<h6 class="form-label">Specify Ownership Type</h6>

						<fieldset id="ownership">
							<label for="ownership1" class="form-label spaces radio-toolbar" [ngClass]="{'highlightradio':model.ownership=='OWNER OCCUPIER'}">
								<div class="form-group">
								<input type="radio" name="ownership" class="styled" id="ownership1" [(ngModel)]="model.ownership" value="OWNER OCCUPIER" (change)="clear($event.target.getAttribute('value'))">
								 Owner Occupier
								</div>
								</label>
							<label for="ownership2" class="form-label radio-toolbar" [ngClass]="{'highlightradio':model.ownership=='INVESTMENT'}">
								<div class="form-group">
							<input type="radio" name="ownership"  class="styled" id="ownership2" [(ngModel)]="model.ownership" value="INVESTMENT">
							 Investment
								</div>
								</label>

							</fieldset>


					</div>
				</div>
				<!-- for investment -->
				<div class="row" [hidden]="model.ownership=='OWNER OCCUPIER'">
					<div class="col-md-4 col-sm-6  has-min-height-106">
						<div class="form-group">
							<label for="rentalincome" class="form-label">Monthly rental income you expect to receive</label>
							<div class="input-group">
								<span class="input-group-addon">A$</span>
								<input type="text" class="form-control txtbox saveInfo" id="rentalincome" [(ngModel)]="model.rentalincome" name="rentalincome"
								 #rentalincome="ngModel" maxlength="18" (focus)="revert(rentalincome.value,'rentalincome')"  (blur)="AmountFormatter(rentalincome.value,'rentalincome')"
								  onkeypress="return event.charCode === 0 || /\d/.test(String.fromCharCode(event.charCode));">
							</div>
						</div>
					</div>
				</div>
				<!-- for investment -->

				<div class="form-btn-wrapper">
					<a tabindex="0" class="btn btn-icon-back"> <img src="/assets/images/back-icon.svg" alt="back-icon" (click)="updateSection()"> </a>
					<!--<a tabindex="0" [routerLink]="['/PersonalBasicInfo']" class="btn btn-icon-back">  <img src="/assets/images/back-icon.svg" alt="back-icon"> </a>-->
					<!--<a tabindex="0" class="btn btn-form-primary ladda-button" data-style="expand-right" id="contactInfoSubmit"><span class="ladda-label">CONTINUE</span></a>-->
					<button type="submit" tabindex="0" class="btn btn-form-primary ladda-button" data-dismiss="modal"  [ladda]="isLoading"  data-style="expand-right"
							data-spinner-color="white" [disabled]="model.proptype=='0'|| !purchaseprice.valid || !payoutbal.valid || !propaddr.valid"><span class="ladda-label">SAVE & CONTINUE</span></button>
				</div>
			</form>
			<!--</div>-->
		</div>
	</div>

	<!-- //Page Content -->
	<oaofooter></oaofooter>

</div>
<!-- //wrapper -->