<oaoheader></oaoheader>
<section class="banner">
	<div class="banner-text">
		<h1>The easy way to bank with us</h1>
		<h2>save your money & time</h2>
		<h6>Every penny or cent spent through wise automatically earns you rewards, special offers and discounts, meaning you’ll always
			get more for your money.</h6>
	</div>
</section>
<!-- Page Content -->
<div class="page-content">
	<div class="container">
		<!--oao-panel  -->
		<div class="oao-panel">
			<div class="panel ">
				<!--panel-heading  -->
				<div class="panel-heading">
					<div class="panel-tilte-wraper">
						<span class="panel-icon-circle">
                           <img src="/assets/images/savings_icon.svg" alt="savings_icon">
                           </span>
						<span class="panel-title">EVERYDAY ACCOUNT </span>
					</div>
					<div class="panel-heading-btn">
						<a (click)="setModalType('EVR')" class="btn btn-apply" data-toggle="modal">APPLY NOW</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!--//panel-heading  -->
				<!--panel-body  -->
				<div class="panel-body">
					<h6>Best rates Savings Account</h6>
					<h5 class="interest">Interest rate offered</h5>
					<h5>Daily balance upto $ 1,000,000 6% p.a = above $ 5,000,000</h5>
					<div class="category-description">
						<p>Savings Account interest rate is 4% p.a. interest is calculated on a daily balance. Exclusive Debit Card offers. Apply!
							in 4 easy steps from home open your account. Interest is calculated on a daily balance. Exclusive Debit Card offers.</p>
					</div>
				</div>
				<!--//panel-body  -->
			</div>
		</div>
		<!--//oao-panel  -->

		<!--oao-panel  -->
		<div class="oao-panel">
			<div class="panel ">
				<!--panel-heading  -->
				<div class="panel-heading">
					<div class="panel-tilte-wraper">
						<span class="panel-icon-circle">
                           <img src="/assets/images/HML.svg" alt="home_loan_icon">
                           </span>
						<span class="panel-title">HOME LOAN </span>
					</div>
					<div class="panel-heading-btn">
						<a (click)="setModalType('HML')" class="btn btn-apply" data-toggle="modal">APPLY NOW</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!--//panel-heading  -->
				<!--panel-body  -->
				<div class="panel-body">
					<h6>Apply your Home Loan online </h6>
					<h5 class="interest">EMI of just $7800 per $ 1,000,000</h5>
					<h5>Home Loans @8.5% .p.a. - low processing charges -no prepayment penalties. Exclusive benefits.</h5>
					<div class="category-description">
						<p>Home Loan interest rate is 4% p.a. interest is calculated on a daily balance. Exclusive Debit Card offers. Apply! in
							4 easy steps from home open your account. Interest is calculated on a daily balance. Exclusive Debit Card offers.</p>
					</div>
				</div>
				<!--//panel-body  -->
			</div>
		</div>
		<!--//oao-panel  -->
		<!--oao-panel  -->
		<div class="oao-panel">
			<div class="panel ">
				<!--panel-heading  -->
				<div class="panel-heading">
					<div class="panel-tilte-wraper">
						<span class="panel-icon-circle">
                           <img src="/assets/images/PRL.svg" alt="personal_loan_icon">
                           </span>
						<span class="panel-title">PERSONAL LOAN</span>
					</div>
					<div class="panel-heading-btn">
						<a (click)="setModalType('PRL')" class="btn btn-apply" data-toggle="modal">APPLY NOW</a>
					</div>
					<div class="clearfix"></div>
				</div>
				<!--//panel-heading  -->
				<!--panel-body  -->
				<div class="panel-body">
					<h6>Apply Personal Loans online </h6>
					<h5 class="interest">Personal Loan @11.49% - compare 17 banks</h5>
					<h5>Your Personal Loans in 1 minute - get instant online approvals‎.</h5>
					<div class="category-description">
						<p>Personal Loan interest rate is 4% p.a. interest is calculated on a daily balance. Exclusive Debit Card offers. Apply!
							in 4 easy steps from home open your account.Interest is calculated on a daily balance. Exclusive Debit Card offers.</p>
					</div>
				</div>
				<!--//panel-body  -->
			</div>
		</div>
		<!--//oao-panel  -->

	</div>
	<!-- /.container -->
</div>
<!-- //Page Content -->
<!-- data toggle-->
<div id="savingsaccount-modal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
	<div class="modal-dialog modal-pop ">
		<!-- Modal content-->
		<div class="modal-content ">
			<div class="modal-body">
				<button type="button" class="close" data-dismiss="modal" (click)="setFalse()"><img src="/assets/images/close.svg" alt=""></button>
				<div class="center-content">
				<h1 [hidden]="!checkData"class="welcome-user"> Hi {{fName}} </h1><!--chandan-->
				<h1 [hidden]="!FbData"class="welcome-user"> Hi {{fbdata.fname}} </h1>
					<span class="savings-act-icon"><img src="/assets/images/{{img}}.svg" alt=""></span>
					<h2>Select account type</h2>
					<div class="modal-pop-footer">
						<p>Terms & conditions</p>
						<form #f="ngForm">	
							<div class="term-sondition">
								<div class="checkbox">
									<input id="aus_citizen" class="styled term" type="checkbox" [(ngModel)]="modal.aus_citizen" name="aus_citizen" #aus_citizen="ngModel"
										[checked]="checked"> <label class="fonts" for="aus_citizen">Australian citizen or permanent resident.</label>									<br/>
								</div>
								<div class="checkbox">
									<input id="age_test" class="styled term" type="checkbox" [(ngModel)]="modal.age_test" name="age_test" #age_test="ngModel"
										[checked]="checked"><label class="fonts" for="age_test"> 18 years of age from the date of the application.</label>
								</div>
							</div>
						</form>
					</div>
					<div>
						<ul class="act-type">
							<li>
								<a (click)="setProdType('single')" data-dismiss="modal" [attr.disabled]="(!(modal.aus_citizen && modal.age_test))==false?null:true">
									<svg width="22px" height="24px" viewBox="0 0 22 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<path d="M10.992,14.064 C12.3360067,14.064 13.8239918,14.2559981 15.456,14.64 C17.2800091,15.1200024 18.7679942,15.7279963 19.92,16.464 C21.2640067,17.3600045 21.936,18.3679944 21.936,19.488 L21.936,24 L0,24 L0,19.488 C0,18.3679944 0.67199328,17.3600045 2.016,16.464 C3.16800576,15.7279963 4.65599088,15.1200024 6.48,14.64 C8.11200816,14.2559981 9.61599312,14.064 10.992,14.064 Z M10.992,10.032 C10.0959955,10.032 9.26400384,9.80800224 8.496,9.36 C7.72799616,8.91199776 7.12000224,8.30400384 6.672,7.536 C6.22399776,6.76799616 6,5.93600448 6,5.04 C6,4.14399552 6.22399776,3.31200384 6.672,2.544 C7.12000224,1.77599616 7.72799616,1.16000232 8.496,0.696 C9.26400384,0.23199768 10.0959955,0 10.992,0 C11.8880045,0 12.7119962,0.23199768 13.464,0.696 C14.2160038,1.16000232 14.8159978,1.77599616 15.264,2.544 C15.7120022,3.31200384 15.936,4.14399552 15.936,5.04 C15.936,5.93600448 15.7120022,6.75999624 15.264,7.512 C14.8159978,8.26400376 14.2080038,8.87199768 13.44,9.336 C12.6719962,9.80000232 11.8560043,10.032 10.992,10.032 Z"
												id="path-single" fill=""></path>
										</g>
									</svg>
								</a>Single Account</li>
							<li>
								<a (click)="setProdType('joint')" [attr.disabled]="(!(modal.aus_citizen && modal.age_test))==false?null:true" data-dismiss="modal">
									<svg width="35px" height="24px" viewBox="0 0 35 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
											<g id="joint-path" transform="translate(-770.000000, -454.000000)">
												<g id="Group-3" transform="translate(602.000000, 425.000000)">
													<g id="Group-2-Copy" transform="translate(131.000000, 0.000000)">
														<path d="M49,42.6907216 C50.2371196,42.6907216 51.6116763,42.8556685 53.1237113,43.185567 C51.5566932,44.0378049 50.4295567,45.082468 49.742268,46.3195876 C49.2474202,47.2268087 49,48.1615072 49,49.1237113 L49,53 L37,53 L37,48.7113402 C37,47.4742206 37.7422606,46.3608297 39.2268041,45.371134 C40.4639237,44.5463876 42.0859006,43.8728548 44.0927835,43.3505155 C45.879734,42.9106507 47.5154565,42.6907216 49,42.6907216 Z M61.9072165,44.4639175 C63.0618614,44.4639175 64.3401992,44.6288643 65.742268,44.9587629 C67.3092862,45.3711361 68.5876239,45.8934676 69.5773196,46.5257732 C70.7319645,47.2955365 71.3092784,48.1615072 71.3092784,49.1237113 L71.3092784,53 L52.4639175,53 L52.4639175,49.1237113 C52.4639175,48.1615072 53.0412313,47.2955365 54.1958763,46.5257732 C55.185572,45.8934676 56.4639097,45.3711361 58.0309278,44.9587629 C59.4329967,44.6288643 60.72508,44.4639175 61.9072165,44.4639175 Z M49,39.3092784 C48.092779,39.3092784 47.2405538,39.0756037 46.443299,38.6082474 C45.6460441,38.1408911 45.013748,37.5085951 44.5463918,36.7113402 C44.0790355,35.9140854 43.8453608,35.0618602 43.8453608,34.1546392 C43.8453608,33.2474181 44.0790355,32.395193 44.5463918,31.5979381 C45.013748,30.8006833 45.6460441,30.1683872 46.443299,29.7010309 C47.2405538,29.2336746 48.092779,29 49,29 C49.907221,29 50.7594462,29.2336746 51.556701,29.7010309 C52.3539559,30.1683872 52.986252,30.8006833 53.4536082,31.5979381 C53.9209645,32.395193 54.1546392,33.2474181 54.1546392,34.1546392 C54.1546392,35.0618602 53.9209645,35.9140854 53.4536082,36.7113402 C52.986252,37.5085951 52.3539559,38.1408911 51.556701,38.6082474 C50.7594462,39.0756037 49.907221,39.3092784 49,39.3092784 Z M61.9072165,41 C61.1374532,41 60.4226837,40.8075621 59.7628866,40.4226804 C59.1030895,40.0377988 58.5807579,39.5154672 58.1958763,38.8556701 C57.8109946,38.195873 57.6185567,37.4811035 57.6185567,36.7113402 C57.6185567,35.9415769 57.8109946,35.2268074 58.1958763,34.5670103 C58.5807579,33.9072132 59.1030895,33.3780089 59.7628866,32.9793814 C60.4226837,32.580754 61.1374532,32.3814433 61.9072165,32.3814433 C62.6769798,32.3814433 63.3848765,32.580754 64.0309278,32.9793814 C64.6769792,33.3780089 65.1924379,33.9072132 65.5773196,34.5670103 C65.9622012,35.2268074 66.1546392,35.9415769 66.1546392,36.7113402 C66.1546392,37.4811035 65.9622012,38.1890002 65.5773196,38.8350515 C65.1924379,39.4811029 64.6701064,40.0034344 64.0103093,40.4020619 C63.3505122,40.8006893 62.6494882,41 61.9072165,41 Z"
															id="supervisor_account---material"></path>
													</g>
												</g>
											</g>
										</g>
									</svg>
								</a>Joint Account</li>
						</ul>
					</div>
				</div>
				<div  [hidden]="checkData || FbData" class="btn-link-outer"> <!--chandan added ==>[hidden]="checkData"  -->
					<a (click)="login()" target="_blank" class="btn-links"><img src="/assets/images/facebook.svg" alt="">Log in with Facebook</a> <a (click)="FindLogin()" href="" [routerLink]="['/Login']" data-dismiss="modal" class="btn-links exiting-mem">CLICK HERE IF YOU AN
                     EXISTING MEMBER </a>
				</div>
			</div><!--content body -->
		</div>
	</div>
</div>
<!--// data toggle-->





<!--chandan-->
<div id="not_eligible-modal" class="modal fade " role="dialog">
         <div class="modal-dialog modal-pop matching-customer-details">
            <!-- Modal content-->
            <div class="modal-content ">
               <div class="modal-body">
                  <div class="matching-customer-des">
                     <button type="button" class="close address-info" (click)="setFalse()" data-dismiss="modal"><img src="/assets/images/close.svg" alt=""></button>
                     <div class="center-content">
                        <span class="info-icon"><img src="/assets/images/info.svg" alt=""></span>
                      <h2 [hidden]="!checkData"class="welcome-user"> Hi..{{fName}} </h2><!--chandan-->
                        <div class="existing-member-login">
                           <div class="error-alert">
                              <div class="alert alert-danger "> 
								  <strong>Sorry..!</strong> Your age is below 18 years .You are not eligible to open this account.
                              </div>
                              <div class="clearfix"></div>
                           </div>
                        </div>
                        <a [routerLink]="['/home']" (click)="setFalse()" class="btn btn-secondary" data-dismiss="modal">Back</a> 
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
<!--chandan-->

<oaofooter></oaofooter>