<div class= "messageus"  data-placement="left" >
    <img src="/assets/images/facebook-messenger-white.svg" alt="home_loan_icon">
<a class="mes btn"  href="http://m.me/1771954166388625?ref={{application_id}}" target="_blank">Need Help?</a>
            </div>
<footer class="footer">
            <div class="container">
               <div class="copy-right">
                  <p>© 2017 OAO. All rights reserved.</p>
               </div>
               <div class="term-policy">
                  <ul>
                     <li>
                        <a href="#">Terms and Conditions</a>
                     </li>
                     <li>
                        <a href="#">Privacy Policy</a>
                     </li>
                  </ul>
               </div>
               <div class="clearfix"></div>
            </div>   
         </footer>