
         <!-- header -->
         <header class="header">
            <nav class="navbar" role="navigation">
               <div class="container">
                  <!-- Brand and toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-menu"> <span class="sr-only">Toggle
                     navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                     <a class="navbar-brand" [routerLink]="['/home']" (click)="clear()">
                     <img src="/assets/images/Logo.svg" alt="Logo">
                     </a>
                  </div>
                  <div class="collapse navbar-collapse primary-nav" id="main-menu">
                     <ul class="nav navbar-nav">
                        <li class="active"><a [routerLink]="['/home']" (click)="clear()">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Products <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                           <ul class="dropdown-menu">
                              <li><a [routerLink]="['/home']" (click)="clear()">Action</a></li>
                              <li><a [routerLink]="['/home']" (click)="clear()">Another action</a></li>
                              <li><a [routerLink]="['/home']" (click)="clear()">Something else here</a></li>
                           </ul>
                        </li>
                        <li><a href="#">Contact Us </a></li>
                     </ul>
                  </div>
                  <!-- /.navbar-collapse -->
               </div>
               <!-- /.container -->
            </nav>
         </header>